---
import BaseLayout from "../layouts/BaseLayout.astro";
import { socials } from "../lib/socials.ts";

---

<BaseLayout title="Contact" sideBarActiveItemID="contact">

    <div class="text-left">
        <h2 class="text-3xl font-bold mb-2">CONTACT</h2>
        <p class="text-gray-500 mb-6">
          You can reach out to me on any of the following platforms.
        </p>
    </div>

    <div class="flex flex-wrap justify-start gap-4 mt-4">
        {socials.map((social) => (
          <a href={social.link} target="_blank" aria-label={social.name} class="hover:opacity-70 transition">
            <img src={`https://api.iconify.design/${social.icon}.svg`} alt={social.name} class="w-10 h-10 rounded-lg" />
          </a>
        ))}
  </div> 

  <!-- <div class="pb-12 mt-5">
    <h1 class="text-3xl font-bold">Get in Touch</h1>
    <div class="py-2">
      <text class="text-lg">
        Feel free to reach out to me on any of the following platforms. I'm always open to discussing new projects, collaborations, or just chatting about tech.
      </text>
    </div> -->
    <!-- Social Icons -->
    <!-- <div class="flex flex-wrap justify-start gap-4 mt-4">
          {socials.map((social) => (
            <a href={social.link} target="_blank" aria-label={social.name} class="hover:opacity-70 transition">
              <img src={`https://api.iconify.design/${social.icon}.svg`} alt={social.name} class="w-10 h-10 rounded-lg" />
            </a>
          ))}
    </div> 

  </div> -->

</BaseLayout>
