---
import { socials } from "../lib/socials.ts";
---

<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
></div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
  {socials.map((social) => (
    <a href={social.link} target="_blank" class="mx-3" aria-label={social.name} title={social.name}>
      <img src={`https://api.iconify.design/${social.icon}.svg`} alt={social.name} class="w-6 h-6" />
    </a>
  ))}
</div>